<html>
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap-grid-tree/src/tree-grid-directive.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap-grid-tree/src/treeGrid.css">
        <script src="app.js"></script>
        <script type="text/ng-template" id="tree-grid-template.html">
            <div class="table-responsive">
            <table class="table tree-grid">
            <thead>
                <tr>
                <th><a ng-if="expandingProperty.sortable" ng-click="sortBy(expandingProperty)">{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}</a><span ng-if="!expandingProperty.sortable">{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}</span><i ng-if="expandingProperty.sorted" class="{{expandingProperty.sortingIcon}} pull-right"></i></th>
                <th ng-repeat="col in col_defs"><a ng-if="col.sortable" ng-click="sortBy(col)">{{col.displayName || col.field}}</a><span ng-if="!col.sortable">{{col.displayName || col.field}}</span><i ng-if="col.sorted" class="{{col.sortingIcon}} pull-right"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in tree_data | searchFor:$parent.filterString:expandingProperty:col_defs:true track by row.branch.uid"
                ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="tree-grid-row">
                <td><a ng-click="user_clicks_branch(row.branch)"><i ng-class="row.tree_icon"
                        ng-click="row.branch.expanded = !row.branch.expanded"
                        class="indented tree-icon"></i></a><span class="indented tree-label" ng-click="on_user_click(row.branch)">
                        {{row.branch[expandingProperty.field] || row.branch[expandingProperty]}}</span>
                </td>
                <td ng-repeat="col in col_defs">
                    <div ng-if="col.cellTemplate" compile="col.cellTemplate" cell-template-scope="col.cellTemplateScope"></div>
                    <div ng-if="!col.cellTemplate">{{row.branch[col.field]}}</div>
                </td>
                </tr>
            </tbody>
            </table>
            </div>
        </script>
    </head>

    <body style="margin:20px">
        <script>
            var app = angular.module('myApp', ['treeGrid']);
            app.controller('myCtrl', function($scope){
                    $scope.tree_data = [
                        {Name:"USA",Area:9826675,Population:318212000,TimeZone:"UTC -5 to -10",
                        children:[
                            {Name:"California", Area:423970,Population:38340000,TimeZone:"Pacific Time",
                                children:[
                                    {Name:"San Francisco", Area:231,Population:837442,TimeZone:"PST"},
                                    {Name:"Los Angeles", Area:503,Population:3904657,TimeZone:"PST"}
                                ]
                            },
                            {Name:"Illinois", Area:57914,Population:12882135,TimeZone:"Central Time Zone",
                                children:[
                                    {Name:"Chicago", Area:234,Population:2695598,TimeZone:"CST"}
                                ]
                            }
                        ]
                    },	
                    {Name:"Texas",Area:268581,Population:26448193,TimeZone:"Mountain"}
                ];

                    $scope.col_defs = [
                        {  field: "Description" },
                        {
                            field: "DemographicId",
                            displayName: "Demographic Id",
                            sortable : true,
                            filterable : true
                        },
                        {
                            field: "ParentId",
                            displayName: "Parent Id"
                        },
                        { field: "Area",
                            sortable : true,
                            sortingType : "number",
                            filterable : true
                        },
                        { field: "Population" },
                        {
                            field: "image",
                            displayName: "Image",
                            cellTemplate: "<img ng-click='cellTemplateScope.click(\'example\')' ng-src='{{ row.branch[col.field] }}' />",
                            cellTemplateScope: {
                                click: function(data) {        
                                    console.log(data);
                                }
                            }
                        }
                    ];

                   $scope.my_tree_handler = function(branch){
                        console.log('you clicked on', branch)
                        $scope.tree_data.push({Name:"New_Node",Area:268581,Population:26448193,TimeZone:"Mountain"});
                   } 
               


            });

        </script>

        <div class="row container">
            <h1 class="text-center">tree-grid</h1>
            <h4 class=" text-center text-info">trap tree in a grid</h4>
        </div><br/><br/><br/>
        <div ng-app="myApp" ng-controller="myCtrl">
           <button ng-click="addTreeNode" class="btn btn-primary btn-sm">Add Tree Node</button><br/><br/>
           <tree-grid tree-data = "tree_data"
                      on-click = "my_tree_handler(branch)"></tree-grid>
        </div>

    </body>
</html>